body {
  font-family: Arial;
}

.title {
  margin-top: 50px;
}

.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}

.delete-button {
  background-color: darkred;
  color: white;
  border: none;
  font-size: 15px;
  padding: 10px 15px;
  cursor: pointer;
}

.add-task-button {
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  padding: 10px 15px;
  cursor: pointer;
}

.task-name,
.task-date {
  font-size: 15px;
  padding: 6px;
}